{% extends 'base.html' %}
{% block body %}
    {% include 'header.html' %}
            <h1>Ярошкін Сергій Сергійович</h1>
{#    <img src="https://scontent.fdnk1-3.fna.fbcdn.net/v/t39.30808-6/274737330_2552466368230982_3057005346818006367_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=CokfYEBFooEAX81tTKM&_nc_ht=scontent.fdnk1-3.fna&oh=00_AT9h9aOcsyqD42WFG3rSg9a5FE19yLHDAj4_2GxRBoNvkQ&oe=6326000A" alt="name">#}
    <hr>
    <h4>Дата та місце народження: 15.12.1994, м.Дніпро</h4>
        <ol start="1" type="I">
            <li>
                <h2>Освіта</h2>
            </li>
        </ol>
    <ul>
        <li class="special">Середнє-спеціальне, ДТЗЕ ім. Є.О.Патона, Обслуговування компьютерних систем та мереж</li>
    </ul>
    <b>
        <ol start="2" type="I">
            <li>
                <h2>Досвід роботи</h2>
            </li>
        </ol>
    </b>
    <ul>
        <li class="work">11.2019 за т.ч
            Дніпровська філія ТОВ"Телесвіт"/ВОЛЯ(Телекомунікації) інженер волоконно-оптичних ліній мереж</li>
    </ul>
    <b>
        <ol start="3" type="I">
            <li>
                <h2>Доп.інформ про себе</h2>
            </li>
        </ol>
    </b>
    <ul>
        <li class="dosvid">Маю досвід роботи з ОС "Ubuntu,Parrot,Kali",досвід адміністрування серверів.Налаштування
            комп.мережі</li>
    </ul>

    {% include 'footer.html' %}
    {% endblock %}